<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Costureza TI</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <h1>Blog</h1>               
        <nav>            
                <li><a href="../../public/comentario.php">Home</a></li>
                <li><a href="../views/index.html">Login</a></li>
                <li><a href="../views/sobre.html">Sobre</a></li>            
        </nav>
    </header>
    <main>
        <div class="hero-blog">
            <img src="../../public/img/heroblog.png" alt="">
        </div>        
        <div class="login">

            <div class="login-senha">
                <fieldset><legend><h1>Login</h1></legend>                 
                        <form action="../../public/login.php" method="post">
                            <label for="login">Login:</label><br>
                            <input type="email" name="login" id="login"><br>
                            <label for="pass">Senha:</label><br>
                            <input type="password" name="pass" id="pass"><br>
                            <input class="enviar" type="submit" value="Entrar">    
                        </form>
                </fieldset>                    
            </div>
                
        </div>                        

        

    </main>
    <footer>
        <a target="_blank" href="https://github.com/RosaCL"><img src="../../public/img/costureza.png" alt=""></a>
    </footer>
    
</body>
</html>