<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Costureza TI</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sobre.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <h1>Blog</h1>               
        <nav>            
                <li><a href="../../public/comentario.php">Home</a></li>
                <li><a href="../views/index.html">Login</a></li>
                <li><a href="../views/sobre.html">Sobre</a></li>
        </nav>
    </header>
    <main>  
        <section class="sobre">
            <div class=" sobre-content container">                
                <h1>Sobre nós</h1>
                    <hr>
                        <div class="sobre-description">
                            <p>Bem-vindo ao Costureza TI: O Blog que Conecta Tecnologia e Criatividade</p>
                            

                            <p>No universo dinâmico da Tecnologia da Informação (TI), onde a inovação é a linha mestra e a criatividade o tecido que une todas as soluções, surge o <img src="../../public/img/costureza.png" alt="">.</p>
                            <p>O nome <img src="../../public/img/costureza.png" alt=""> — um blog que vai além dos códigos e algoritmos, trazendo um toque único de originalidade e paixão pela tecnologia.</p>
                            
                            <p>O nome Costureza TI <img src="../../public/img/costureza.png" alt=""> não é apenas mais um blog sobre TI. É um espaço onde a tecnologia é costurada com maestria, unindo conceitos complexos a explicações claras e acessíveis. Aqui, a TI é tratada como uma arte, onde cada linha de código, cada sistema integrado e cada solução desenvolvida são peças de um grande mosaico tecnológico.</p>
                            
                            <span>O Que Você Encontrará no Costureza TI?</span>
                            
                            <p>
                                1. Tutoriais e Guias Práticos
                                Quer aprender a "costurar" seus próprios projetos de TI? Nossos tutoriais abrangem desde programação básica até técnicas avançadas de desenvolvimento de software, infraestrutura de redes, cloud computing e muito mais. Tudo explicado de forma descomplicada, como se estivéssemos te ensinando ponto a ponto.
                            </p>
                            <p>
                                2. Tendências e Inovações
                                O mundo da TI está sempre em evolução, e no <img src="../../public/img/costureza.png" alt="">, você fica por dentro das últimas tendências. Inteligência Artificial, Internet das Coisas (IoT), cibersegurança, blockchain — nós desvendamos os temas quentes do momento e mostramos como eles estão moldando o futuro.
                            </p>
                            <p>
                                3. Cases de Sucesso e Inspirações
                                Compartilhamos histórias de projetos incríveis que foram "costurados" com sucesso. Seja uma startup disruptiva ou uma grande empresa que revolucionou seu setor, você encontrará aqui inspiração para seus próprios desafios.
                            </p>
                            <p>
                                4. Dicas de Carreira e Mercado de TI
                                Quer se destacar no mercado de trabalho? Oferecemos conselhos valiosos sobre como aprimorar suas habilidades, montar um portfólio impressionante e se preparar para entrevistas. Afinal, uma carreira em TI também precisa de um bom "corte e costura".
                            </p>
                            
                            <p>
                            5. Conteúdos Descontraídos e Criativos
                                No <img src="../../public/img/costureza.png" alt="">, acreditamos que aprender pode (e deve!) ser divertido. Por isso, trazemos analogias criativas, curiosidades tecnológicas e até um pouco de humor para tornar sua experiência ainda mais envolvente.
                            </p>
                        
                            <span>Por Que "Costureza TI"?</span>
                            
                            <p>O <img src="../../public/img/costureza.png" alt="">reflete nossa visão de que a tecnologia é como um tecido: pode ser moldada, transformada e adaptada para criar soluções únicas. Assim como um costureiro habilidoso transforma um pedaço de pano em uma obra de arte, nós ajudamos você a transformar ideias em projetos reais e impactantes.</p>
                            
                            <span>Junte-se à Nossa Comunidade!</span>
                            
                            <p>Seja você um desenvolvedor experiente, um estudante curioso ou um entusiasta da tecnologia, o <p>O nome <img src="../../public/img/costureza.png" alt=""> é o lugar ideal para expandir seus conhecimentos, se inspirar e conectar-se com outros apaixonados por TI. Assine nossa newsletter, siga-nos nas redes sociais e faça parte dessa comunidade que está sempre "costurando" o futuro.</p>
                            
                            <p>No <img src="../../public/img/costureza.png" alt="">, a tecnologia ganha vida, linha por linha, código por código. Vamos juntos criar algo incrível?</p> 
                            
                            <span><img src="../../public/img/costureza.png" alt="">: Tecendo Inovação, Linha por Linha.</span>
                    </div>                
            </div>
            <div class="sobre-imagens container">
                <figure>
                    <img src="../../public/img/image01.png" alt="">
                </figure>
                <figure>
                    <img src="../../public/img/image02.png" alt="">
                </figure>
                <figure>
                    <img src="../../public/img/image13.png" alt="">
                </figure>
                <figure>
                    <img src="../../public/img/image03.png" alt="">
                </figure>
                <figure>
                    <img src="../../public/img/image04.png" alt="">
                </figure>
                <figure>
                    <img src="../../public/img/image05.png" alt="">
                </figure>
                <figure>
                    <img src="../../public/img/image06.png" alt="">
                </figure>
                <figure>
                    <img src="../../public/img/image07.png" alt="">
                </figure>
                <figure>
                    <img src="../../public/img/image08.png" alt="">
                </figure>
                <figure>
                    <img src="../../public/img/image09.png" alt="">
                </figure>
                <figure>
                    <img src="../../public/img/image10.png" alt="">
            </figure>
            <figure>
                <img src="../../public/img/image11.png" alt="">
            </figure>
            <figure>
                <img src="../../public/img/image12.png" alt="">
            </figure>
       
                
            </div>        
        </section> 
                   

    </main>
    <footer>
        <a target="_blank" href="https://github.com/RosaCL"><img src="../../public/img/costureza.png" alt="" ></a>
    </footer>
    
</body>
</html>