@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Barriecito&family=Molengo&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: "Molengo", sans-serif;
    font-weight: 400;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
}
body{
    background-color: rgba(43, 3, 3, 0.829);
    opacity: 0.9;
}
footer{
    
    background: rgba(0, 0, 0, 0.500);
    display: flex;
    align-items: center;
    justify-content: center;    
    bottom: 0;
    position: fixed;
    width: 100%;  
}